@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <div class="container d-flex">
 <div class="card" style="width: 18rem;">
  <img src="https://static.thenounproject.com/png/657181-200.png" class="card-img-top" alt="Заключенные">
  <div class="card-body ">
     <a class="card-title nav-link text-dark" asp-area="" asp-controller="Prisoners" asp-action="Index">Заключенные</a>
  </div>
</div>
 <div class="card" style="width: 18rem;">
  <img src="https://static.thenounproject.com/png/1857518-200.png" class="card-img-top" alt="Камеры">
  <div class="card-body ">
    <h5 class="card-title">Камеры</h5>
                <a class="card-title nav-link text-dark" asp-area="" asp-controller="Cells" asp-action="Index">Камеры</a>

  </div>
</div>
 <div class="card" style="width: 18rem;">
  <img src="https://static.thenounproject.com/png/3752548-200.png" class="card-img-top" alt="Охранники">
  <div class="card-body ">
    <h5 class="card-title">Охранники</h5>
                <a class="card-title nav-link text-dark" asp-area="" asp-controller="Guards" asp-action="Index">Охранники</a>

  </div>
</div>
 <div class="card" style="width: 18rem;">
  <img src="https://static.thenounproject.com/png/100941-200.png" class="card-img-top" alt="Встречи">
  <div class="card-body ">
    <h5 class="card-title">Встречи</h5>
                <a class="card-title nav-link text-dark" asp-area="" asp-controller="Meetings" asp-action="Index">Встречи</a>

  </div>
</div>
</div>
</div>
